// https://github.com/sofish/typo.css/blob/master/typo.css
@base-font: PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;

/*
 * 单行文字溢出时出现省略号，需设定宽度
 */
.fn-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*
 * 需要设定为block元素 
 */
.fn-hide-text {
  display: block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/*
 * 强制换行 IE67 need layout
 */
.fn-wrap {
  word-wrap: break-word;
  word-break: break-all;
}

.fn-invisible {
  visibility: hidden;
}

.fn-hide {
  display: none;
}

.fn-show {
  display: block;
}

.fn-image-set(@url) {
  @url2: replace(@url, "\.(jpe?g|png)$", "@2x.$1");
  background-repeat: no-repeat;
  background-image: url(@url);
  background-image: image-set(url(@url) 1x, url(@url2) 2x);
}

.fn-square(@size) {
  width: @size;
  height: @size;
}

.fn-center() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.fn-flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
 * 主要用在通过颜色变量改变opacity的时候
 */
.fn-color-opacity(@c, @v) {
  color: rgba(red(@c), green(@c), blue(@c), @v);
}

.fn-bg-opacity(@c, @v) {
  background-color: rgba(red(@c), green(@c), blue(@c), @v);
}