@import 'nib'

.fn-transition
    transition: all .5s ease-in-out

/* 单行文字溢出时出现省略号，需设定宽度 */
.fn-text-overflow
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

/* 需要设定为block元素 */
.fn-hide-text
    display: block
    overflow: hidden
    text-indent: 100%
    white-space: nowrap

/* 强制换行 IE67 need layout*/
.fn-wrap
    word-wrap: break-word
    word-break: break-all

.fn-invisible
    visibility: hidden

.fn-hide
    display: none

.fn-show
    display: block

/* 设置内联, 减少浮动带来的bug */
.fn-left
.fn-right
    display: inline

/*
 * 与fn-bfc混用时需要修复3px bug
 * margin-right: -3px
 */
.fn-left
    float:left

.fn-right
    float:right

.fn-bfc
    /*overflow: hidden;*/
    display: table-cell
    *display: inline
    *zoom: 1