/**
 * 特殊的reset
 */

input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: none;
}


/*
 * 去除IE10+浏览器文本框后面的小叉叉
 */
input::-ms-clear {
  display: none;
}

textarea {
  resize: none;
  /*resize: vertical;*/
}


map area {
  outline: none;
}